/.idea/
/testsuite/wildfly-microprofile-reactive-messaging-kafka/target/
/testsuite/wildfly-microprofile-reactive-messaging-kafka/tmp/
/testsuite/wildfly-microprofile-reactive-messaging-kafka/log/
/style-config/target/
/target/
/test.properties
/core/target/
/testsuite/target
/testsuite/wildfly-elytron-oidc-client-keycloak/target/
/testsuite/wildfly-elytron-oidc-client-keycloak/log/
/testsuite/wildfly-elytron-oidc-client-keycloak/tmp/
/testsuite/wildfly-web-cache-offload-infinispan/log/
/testsuite/wildfly-web-cache-offload-infinispan/target/
/testsuite/wildfly-web-cache-offload-infinispan/tmp/
/testsuite/intersmash-tests-testsuite.iml
/testsuite/log/

# JEnv
.java-version
# Claude
CLAUDE.md
